# Android
*.iml
.gradle
/local.properties
local.properties
/build
/captures
.externalNativeBuild
.cxx

# IDE (IntelliJ / Android Studio)
# 屏蔽整个 .idea 目录，防止个人配置污染
.idea/
*.iws
*.out
.DS_Store

# Node.js & Web
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
dist/
build-web/
